<div class="ma_page_content">
	<div class="ma_pc_inner">
		<div class="page_padding">
			<!-- Pro -->
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<div class="no-track-found bg_light">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M9,14V8H5L12,1L19,8H15V14H9M5,18V16H19V18H5M19,20H5V22H19V20Z" /></svg>
						<p>{{LANG You have reached your upload limit, upgrade to upload unlimited songs.}}</p>
						<a href="{{LINK go-pro}}" data-load="go-pro" class="btn btn-primary">{{LANG Upgrade To Pro}}</a>
					</div>
				</div>
				<div class="col-md-2"></div>
			</div>
			<!-- End Pro -->
		</div>
	</div>
</div>