<div class="store_songs">
	<div class="song_list">
		<div class="avatar" onclick="playSong('{{s_audio_id}}');">
			<a href="javascript:void(0)"><img src="{{s_thumbnail}}"></a>
		</div>
		<div class="song_right_part">
			<div class="song_upper">
				<div class="song_meta_info">
					<a href="javascript:void(0)" onclick="playSong('{{s_audio_id}}');"><h3>{{s_name}}</h3></a>
					<a href="{{USER url}}" data-load="{{USER username}}"><p>{{USER name}}</p></a>
				</div>
			</div>
		</div>
	</div>
</div>