<div class="track_list" data-id="{{id}}">
	<div class="track" >
		<div class="cover_art">
			<a href="{{url}}" data-load="track/{{audio_id}}">
				<img src="{{thumbnail}}"/>
				<div class="play_btn">
					<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"><path fill="currentColor" d="M10,16.5V7.5L16,12M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"></path></svg>
				</div>
			</a>
		</div>
		<div class="track_info">
			<a href="{{url}}" data-load="track/{{audio_id}}"><span class="title">{{title}}</span></a>
			<a href="{{USER url}}" data-load="{{USER username}}"><span class="artist">{{USER name}}</span></a>
		</div>
	</div>
</div>