<div class="ma_page_content">
	<div class="ma_pc_inner">
		<div class="page_padding">
			<div class="sq_music_tracks">
				<h2 class="home_widget_title">
					<span style="background:#4caf50"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M13.5,8H12V13L16.28,15.54L17,14.33L13.5,12.25V8M13,3A9,9 0 0,0 4,12H1L4.96,16.03L9,12H6A7,7 0 0,1 13,5A7,7 0 0,1 20,12A7,7 0 0,1 13,19C11.07,19 9.32,18.21 8.06,16.94L6.64,18.36C8.27,20 10.5,21 13,21A9,9 0 0,0 22,12A9,9 0 0,0 13,3"></path></svg></span> {{LANG Recently Played}}
				</h2>
				<div class="sq_track_slider no-slider" id="recently_played">
					{{html}}
					<div class="clearfix"></div>
				</div>


				<?php if($music->records>0){?>
					<div class="text-center see_all">
						<a href="javascript:void(0); loadMore('recently_played');" id="load-more-button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M17,13H13V17H11V13H7V11H11V7H13V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"></path></svg> {{LANG Load More}}</a>
					</div>
				<?php }?>

			</div>
		</div>
	</div>
</div>