<div class="col-lg-3 col-md-6">
	<div class="mf_list">
		<div class="avatar_cont" onclick="playSong('{{t_audio_id}}')">
			<div class="avatar" style="background-image: url({{t_thumbnail}})"></div>
			<div class="play_btn">
				<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"><path fill="currentColor" d="M10,16.5V7.5L16,12M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"></path></svg>
			</div>
		</div>
		<div class="mf_middle_part">
			<div class="fav_name"><a href="javscript:void(0);" onclick="playSong('{{t_audio_id}}')">{{t_title}}</a></div>
			<div class="bottom_part">
				<div class="fav_artist">{{t_artist}}</div>
			</div>
		</div>
	</div>
</div>