<div class="track_list" data-id="{{ALBUM id}}">
    <div class="track">
        <div class="cover_art">
            <a  href="{{LINK album/}}{{ALBUM album_id}}" data-load="album/{{ALBUM album_id}}">
                <img src="{{thumbnail}}" />
                <div class="play_btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"><path fill="currentColor" d="M10,16.5V7.5L16,12M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"></path></svg>
                </div>
            </a>
        </div>
        <div class="track_info">
            <a href="{{LINK album/}}{{ALBUM album_id}}" data-load="album/{{ALBUM album_id}}"><span class="title">{{ALBUM title}}</span></a>
            <a href="{{LINK /}}{{PUBLISHER username}}" data-load="{{PUBLISHER username}}"><span class="artist">{{PUBLISHER name}}</span></a>
        </div>
    </div>
</div>