<?php if( isset($data['ALBUMS_DATA']) ){?>
    <section class="search_result_count">{{ALBUMS_COUNT}} {{LANG results for:}} <b>{{SEARCH_KEYWORD}}</b></section>
    <?php if( count($data['ALBUMS_DATA']) > 0 ){?>
        <div class="sq_music_tracks search_albums">
            <div class="sq_track_slider no-slider" id="albums_search_result">
            <?php
                foreach($data['ALBUMS_DATA'] as $key => $album){
                    echo loadPage("search/albums-list", ['ALBUM_DATA' => $album, 'PUBLISHER_DATA' => userData($album->user_id), 'thumbnail' => GetMedia($album->thumbnail) ]);
                }
            ?>
            </div>
        </div>
        <div class="text-center see_all">
            <a href="javascript:void(0); loadMore('albums_search', '{{SEARCH_KEYWORD}}');" id="load-more-button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M17,13H13V17H11V13H7V11H11V7H13V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"></path></svg> {{LANG Load More}}</a>
        </div>
    <?php } ?>
<?php } else { ?>
	<div class="no-track-found bg_light"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg> {{LANG What are looking for ?}}</div>
<?php } ?>