<?php if( isset($data['PLAYLISTS_DATA']) ){?>
<section class="search_result_count">{{PLAYLISTS_COUNT}} {{LANG results for:}} <b>{{SEARCH_KEYWORD}}</b></section>
<?php if( count($data['PLAYLISTS_DATA']) > 0 ){?>
<div class="pub_playlists search_playlists">
    <div class="pplist_slider" id="playlists_search_result">
        <?php
            foreach($data['PLAYLISTS_DATA'] as $key => $playlists){
                $playlist = getPlayList($playlists->id);
                echo loadPage("user/playlist-list", ['t_id' => $playlist->id,'t_uid' => $playlist->uid,'t_title' => $playlist->name,'t_songs' => $playlist->songs, 't_url' => $playlist->url, 'USER_DATA' => userData($playlist->user_id), 't_thumbnail' => GetMedia($playlist->thumbnail) ]);
            }
        ?>
    </div>
</div>

<div class="text-center see_all">
    <a href="javascript:void(0); loadMore('playlists_search', '{{SEARCH_KEYWORD}}');" id="load-more-button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M17,13H13V17H11V13H7V11H11V7H13V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"></path></svg> {{LANG Load More}}</a>
</div>

<?php } ?>
<?php } else { ?>
<div class="no-track-found bg_light"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><line x1="8" y1="6" x2="21" y2="6"></line><line x1="8" y1="12" x2="21" y2="12"></line><line x1="8" y1="18" x2="21" y2="18"></line><line x1="3" y1="6" x2="3" y2="6"></line><line x1="3" y1="12" x2="3" y2="12"></line><line x1="3" y1="18" x2="3" y2="18"></line></svg> {{LANG What are looking for ?}}</div>
<?php } ?>