<div class="post-actions hidden float-left">
	<?php 
	$music->small_like_button = true;
	echo getLikeButton($music->songData->id, 'like-default');
	echo getDisLikeButton($music->songData->id, 'dislike-default');

	if (IS_LOGGED) { 
	?>
	<button class="ss_action_item" onclick="rePost('{{s_id}}', $(this));"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-repeat"><polyline points="17 1 21 5 17 9"></polyline><path d="M3 11V9a4 4 0 0 1 4-4h14"></path><polyline points="7 23 3 19 7 15"></polyline><path d="M21 13v2a4 4 0 0 1-4 4H3"></path></svg></svg> {{LANG Re Post}}</button>
	<?php } ?>
	<button class="ss_action_item" onclick="getShareModal('{{s_id}}', $(this));"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path fill="currentColor" d="M18,16.08C17.24,16.08 16.56,16.38 16.04,16.85L8.91,12.7C8.96,12.47 9,12.24 9,12C9,11.76 8.96,11.53 8.91,11.3L15.96,7.19C16.5,7.69 17.21,8 18,8A3,3 0 0,0 21,5A3,3 0 0,0 18,2A3,3 0 0,0 15,5C15,5.24 15.04,5.47 15.09,5.7L8.04,9.81C7.5,9.31 6.79,9 6,9A3,3 0 0,0 3,12A3,3 0 0,0 6,15C6.79,15 7.5,14.69 8.04,14.19L15.16,18.34C15.11,18.55 15.08,18.77 15.08,19C15.08,20.61 16.39,21.91 18,21.91C19.61,21.91 20.92,20.61 20.92,19A2.92,2.92 0 0,0 18,16.08Z" /></svg> {{LANG Share}}</button>
</div>
<div class="post-actions hidden float-right">
	<?php if($music->config->artist_sell == 'on'){ ?>
		<?php
		$music->songData->owner = false;
		if (IS_LOGGED) {
			if($music->user->id == $music->songData->user_id) {
				$music->songData->owner = true;
			}
		}
		if (!isTrackPurchased($music->songData->id) && $music->songData->owner == false && $music->songData->price > 0 ) { ?>
			<button class="ss_action_item track-liked" onclick="purchaseTrack('{{s_audio_id}}', $(this))" data-title="<?php echo $music->songData->title;?>" data-price="<?php echo $music->songData->price;?>">{{LANG Purchase}} {{CONFIG currency_symbol}}{{s_price}}</button>
		<?php } ?>
	<?php } ?>
</div>
<div class="clearfix"></div>