<div class="store_songs">
	<div class="song_list">
		<div class="avatar">
			<a href="{{LINK track/{{song_audio_id}}/play}}" data-load="track/{{song_audio_id}}/play"><img src="{{song_thumbnail}}"></a>
		</div>
		<div class="song_right_part">
			<div class="song_upper">
				<div class="song_meta_info">
					<a href="{{LINK track/{{song_audio_id}}/play}}" data-load="track/{{song_audio_id}}/play"><h3>{{song_title}}</h3></a>
					<a href="{{LINK {{USER username}}}}" data-load="{{USER username}}"><p>{{USER name}}</p></a>
				</div>
			</div>
		</div>
	</div>
</div>