<div class="modal fade" id="delete-post" tabindex="-1" role="dialog" aria-labelledby="delete-post" aria-hidden="true" data-id="0">
	<div class="modal-dialog mat_box" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">{{LANG Delete your post}}</h5>
			</div>
			<div class="modal-body">
				{{LANG Are you sure you want to delete this post?}}
			</div>	
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">{{LANG Cancel}}</button>
				<button type="button" class="btn btn-danger btn-mat" onclick="deletePost();">{{LANG Delete}}</button>
			</div>
		</div>
	</div>
</div>